{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="card" style="width: 18rem;">
  <img src="{% static "sanais/jihunkim.jpg" %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">김지훈</h5>
    <p class="card-text">상남자</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">BIRTH | 99/06/11</li>
    <li class="list-group-item">24_jih</li>
    <li class="list-group-item">ENTP</li>
  </ul>
</div>



{% endblock content %}